In [1]:
import pandas as pd
import numpy as np
import requests as req
import psycopg2
from sqlalchemy import create_engine

# Extraction

### We downloaded datasets of 2016 presidential election results by county and  unemployment rate by county  from kaggle.com. After a preeliminary inspection we noticed data sets had different use of State identifiers, some full name and others in abbreviations, so we looked for a dataset for mapping them with a single identifier. We decided to compare tables from www.infoplease.com and https://www.50states.com/abbreviations.htm , and decided to use infoplease.

# Transformation

### Original files

###### We downloaded the csv file from kaggle, read it with read_csv, and made a data frame. We inspected the new data frame with .head()

In [2]:
unemployment_df = pd.read_csv('Resources/unemp.csv')
presidential_results_df = pd.read_csv('Resources/pres16results.csv')

In [3]:
#Inspect dataframes
unemployment_df.head(3)

   Year     Month        State         County  Rate
0  2015  February  Mississippi  Newton County   6.1
1  2015  February  Mississippi  Panola County   9.4
2  2015  February  Mississippi  Monroe County   7.9

In [4]:
#Inspect dataframes
presidential_results_df.head(3)

,county,fips,cand,st,pct_report,votes,total_votes,pct,lead
0,NaN,US,Donald Trump,US,0.9951,60350241.0,127592176.0,0.472993,Donald Trump
1,NaN,US,Hillary Clinton,US,0.9951,60981118.0,127592176.0,0.477938,Donald Trump
2,NaN,US,Gary Johnson,US,0.9951,4164589.0,127592176.0,0.032640,Donald Trump

### Scrape for States' abbreviations table

##### Create a states abbreviation dict for mapping into the dataframes to change states columns to state abbreviations for consistency. For this, we scraped two websites to get a table of the states and their abbreviations, and we decided to use the results from infoplease.com. The coding for the other website is shown below for reference.

state_url = req.get('https://www.50states.com/abbreviations.htm') state_abv = pd.read_html(state_url.text) state_abvs = state_abv[0]

In [5]:
#Get the states abbreviations from infoplease
html = req.get ('https://www.infoplease.com/us/postal-information/state-abbreviations-and-state-postal-codes')
#Read the response with read_html and make a dataframe
states_df = pd.read_html(html.text)
#print(states_df)
states_abbv = states_df[0]
states_abbv.to_csv('Resources/states_abbreviations.csv', index=False)
states_abbv = pd.read_csv('Resources/states_abbreviations.csv', index_col=0)
#Inspect columns with states_abbv.columns and create df to use
states_postalcodes = states_abbv[["Postal Code"]]
#Make a dict for mapping later into the dataframes
states_postalcodes_dict = states_postalcodes.to_dict()["Postal Code"]
# # Inspect dict
#states_postalcodes_dict

### Map unemployment dataframe and export new cvs files for further transformation.

In [6]:
unemployment_df['State'] = unemployment_df['State'].map(states_postalcodes_dict)
#Check replacement
unemployment_df['State'].unique()

array(['MS', 'OK', 'DE', 'MN', 'IL', 'AR', 'NM', 'IN', 'MD', 'LA', 'ID',
       'WY', 'TN', 'AZ', 'IA', 'KS', 'UT', 'VA', 'OR', 'CT', 'MT', 'CA',
       'MA', 'WV', 'SC', 'NH', 'WI', 'VT', 'ND', 'PA', 'KY', 'HI', 'NE',
       'MO', 'OH', 'AL', 'RI', 'SD', 'CO', 'NJ', 'WA', 'NC', 'NY', 'TX',
       'NV', 'ME', 'MI'], dtype=object)

In [7]:
unemployment_df.to_csv('Resources/unemployment.csv')
presidential_results_df.to_csv('Resources/presidential.csv')

### Import and Read Mapped Files

In [8]:
unemployment_df = pd.read_csv('Resources/unemployment.csv')
presidential_df = pd.read_csv('Resources/presidential.csv')

### Unemployment

###### Select and rename columns

In [9]:
unemployment_df.columns

Index(['Unnamed: 0', 'Year', 'Month', 'State', 'County', 'Rate'], dtype='object')

In [10]:
#drop unnamed and na
unemploy_df = unemployment_df.copy().drop(['Unnamed: 0'], axis=1)
unmenploy_df = unemploy_df.dropna(inplace=True)
#check for lenght of df
len(unemploy_df)

885548

###### Filter rows

In [11]:
#filter Year=2016 because is the year of the election, and choose july for the months
unemployment_july_2016 = unemploy_df[(unemploy_df["Year"]==2016) & (unemploy_df["Month"]=="July")]
unemploy_2016 = unemployment_july_2016.copy().drop(['Year', 'Month'], axis=1)
len(unemploy_2016)

2885

### 2016 Presidential Results by County

###### Select and rename columns

In [12]:
presidential_df.columns

Index(['Unnamed: 0', 'county', 'fips', 'cand', 'st', 'pct_report', 'votes',
       'total_votes', 'pct', 'lead'],
      dtype='object')

In [13]:
#drop columns and na
election_df = presidential_df.copy().drop(['Unnamed: 0', 'fips', 'pct_report', 'votes', 'total_votes', 'lead'], axis=1)
# election_df['cand'].unique()
election_df.rename(columns={'county': "County", 'st': "State", 'cand': "Candidate", 'pct':"Percentage"}, inplace=True)
len(election_df["County"].unique())

1970

In [14]:
#check for lenght
len(election_df)

18475

### Inspect dataframes for merging

In [15]:
unemploy_2016.head(3)

      State         County  Rate
96524    MS  Newton County   6.7
96525    MS  Panola County   8.0
96526    MS  Monroe County   8.1

In [16]:
election_df.head(3)

  County        Candidate State  Percentage
0    NaN     Donald Trump    US    0.472993
1    NaN  Hillary Clinton    US    0.477938
2    NaN     Gary Johnson    US    0.032640

In [17]:
#merge both 
eco_politics = unemploy_2016.merge(election_df, on=['County', 'State'])
eco_politics.dropna(inplace=True)
eco_politics

      State              County  Rate        Candidate  Percentage
0        MS       Newton County   6.7     Donald Trump    0.689900
1        MS       Newton County   6.7  Hillary Clinton    0.296602
2        MS       Newton County   6.7     Gary Johnson    0.006865
3        MS       Newton County   6.7   Darrell Castle    0.003142
4        MS       Newton County   6.7       Jill Stein    0.002094
...     ...                 ...   ...              ...         ...
16661    ME  Piscataquis County   5.0       Jill Stein    0.019576
16662    ME    Aroostook County   5.2     Donald Trump    0.555416
16663    ME    Aroostook County   5.2  Hillary Clinton    0.382604
16664    ME    Aroostook County   5.2     Gary Johnson    0.047221
16665    ME    Aroostook County   5.2       Jill Stein    0.014758

[16666 rows x 5 columns]

In [18]:
eco_politics.to_csv("Resources/ecopolitics.cvs", index=False)

# Load into a Database

In [19]:
#Create engine and connection with database
engine = create_engine('postgres://user:password@localhost:5433/etl_eco_politics_2016')
conn = engine.connect()

In [20]:
#load into the database
eco_politics.to_sql(name="ecopolitics", con=engine, if_exists="replace", index=False)

In [21]:
#confirm data has been added by querying table and
pd.read_sql_query('select * from ecopolitics', con=engine).head()

  State         County  Rate        Candidate  Percentage
0    MS  Newton County   6.7     Donald Trump    0.689900
1    MS  Newton County   6.7  Hillary Clinton    0.296602
2    MS  Newton County   6.7     Gary Johnson    0.006865
3    MS  Newton County   6.7   Darrell Castle    0.003142
4    MS  Newton County   6.7       Jill Stein    0.002094

In [22]:
#Query the db and test correlation and covariance for two cadidates
ecopolitics = pd.read_sql_query('select * from ecopolitics', con=engine)

In [23]:
#Set index for both county and state
ecopolitics.set_index(['County', 'State'])

                          Rate        Candidate  Percentage
County             State
Newton County      MS      6.7     Donald Trump    0.689900
                   MS      6.7  Hillary Clinton    0.296602
                   MS      6.7     Gary Johnson    0.006865
                   MS      6.7   Darrell Castle    0.003142
                   MS      6.7       Jill Stein    0.002094
...                        ...              ...         ...
Piscataquis County ME      5.0       Jill Stein    0.019576
Aroostook County   ME      5.2     Donald Trump    0.555416
                   ME      5.2  Hillary Clinton    0.382604
                   ME      5.2     Gary Johnson    0.047221
                   ME      5.2       Jill Stein    0.014758

[16666 rows x 3 columns]

In [24]:
#filter by cadidate and test for corr and cov
trump_case = ecopolitics.copy()[ecopolitics["Candidate"] == 'Donald Trump']
trump_case.corr()

                Rate  Percentage
Rate        1.000000   -0.117852
Percentage -0.117852    1.000000

In [25]:
trump_case.cov()

                Rate  Percentage
Rate        3.978368   -0.036066
Percentage -0.036066    0.023541

In [26]:
hillary_case = ecopolitics.copy()[ecopolitics["Candidate"] == 'Hillary Clinton']
hillary_case.corr()

                Rate  Percentage
Rate        1.000000    0.175052
Percentage  0.175052    1.000000

In [27]:
hillary_case.cov()

                Rate  Percentage
Rate        3.978368    0.052391
Percentage  0.052391    0.022515